wiz_environment = "prod"

cloud_account_search = ["example-account"]
cloud_providers      = ["GCP"]

registry_search = "example"
registry_types  = ["GAR", "GCR"]

kubernetes_cluster_search    = "example-cluster"
kubernetes_cluster_kinds     = ["GKE"]
kubernetes_namespace_search  = "example-namespace"
